In [41]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

In [42]:
csv_file = "listings-3.csv"
airbnb_df = pd.read_csv(csv_file)
airbnb_df.head()

/Users/afreites/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,https://www.airbnb.com/rooms/1419,20190307044035,43531,Beautiful home in amazing area!,"This large, family home is located in one of T...",Visit Toronto with this fabulous furnished hom...,"This large, family home is located in one of T...",none,The apartment is located in the Ossington stri...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.16
1,8077,https://www.airbnb.com/rooms/8077,20190307044035,43531,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,My husband and I are both artists. I give pain...,Guest room in a luxury condo with access to al...,none,NaN,...,t,f,strict_14_with_grace_period,f,t,2,1,1,0,1.45
2,12604,https://www.airbnb.com/rooms/12604,20190307044035,43531,Seaton Village Parlour Bedroom,Comfortable sofa bed in airy main floor parlour.,Family of 4 (2 kids) plus a friendly dog open...,Comfortable sofa bed in airy main floor parlou...,none,NaN,...,f,f,moderate,f,f,1,0,1,0,NaN
3,23691,https://www.airbnb.com/rooms/23691,20190307044035,43531,Queen Bedroom close to downtown,NaN,Nestled in the middle of a quiet residential n...,Nestled in the middle of a quiet residential n...,none,NaN,...,t,f,strict_14_with_grace_period,f,f,2,0,2,0,1.94
4,26654,https://www.airbnb.com/rooms/26654,20190307044035,43531,"World Class downtown@ CN Tower! Jays, TIFF, ACC","CN Tower, TIFF Bell Lightbox, Metro Convention...",Welcome to 5***** Living - Bohemian decor~ in ...,"CN Tower, TIFF Bell Lightbox, Metro Convention...",none,NaN,...,f,f,strict_14_with_grace_period,f,f,7,7,0,0,0.36

In [43]:
# selecting the columns
airbnb_data_df = airbnb_df[['latitude','longitude','zipcode','property_type', 'room_type','price']].copy()

In [44]:
# renaming a column
airbnb_data_df = airbnb_data_df.rename(columns={'zipcode': 'postal_code'})
airbnb_data_df.head()

   latitude  longitude postal_code property_type        room_type  price
0  43.64617  -79.42451         M6J         House  Entire home/apt    469
1  43.64105  -79.37628         M5J     Apartment     Private room    100
2  43.66724  -79.41598         M6G         House     Private room     67
3  43.69602  -79.45468     M6E 2P3         House     Private room     70
4  43.64530  -79.38940     M5V 3P5   Condominium  Entire home/apt    200

In [45]:
airbnb_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20036 entries, 0 to 20035
Data columns (total 6 columns):
latitude         20036 non-null float64
longitude        20036 non-null float64
postal_code      19651 non-null object
property_type    20036 non-null object
room_type        20036 non-null object
price            20036 non-null int64
dtypes: float64(2), int64(1), object(3)
memory usage: 939.3+ KB

In [46]:
airbnb_data_df.describe()

           latitude     longitude         price
count  20036.000000  20036.000000  20036.000000
mean      43.679978    -79.397276    138.044620
std        0.047893      0.061236    208.187617
min       43.586710    -79.623460      0.000000
25%       43.645150    -79.424460     66.000000
50%       43.662690    -79.397320    100.000000
75%       43.696070    -79.377557    157.000000
max       43.831710    -79.127810  13395.000000

In [47]:
airbnb_data_df.dtypes

latitude         float64
longitude        float64
postal_code       object
property_type     object
room_type         object
price              int64
dtype: object

In [48]:
#   checking the postal_code data
airbnb_data_df.postal_code.unique()

array(['M6J', 'M5J', 'M6G', ..., 'M1W 2J3', 'M2L 1Z5', 'M4V 2B7'],
      dtype=object)

In [49]:
#  adding data source
airbnb_data_df ['source_loaded']= 'airbnb'

In [50]:
#  spliting postal code to fsa
airbnb_data_df ['fsa']= airbnb_data_df['postal_code'].str[:4]
airbnb_data_df.head()

,latitude,longitude,postal_code,property_type,room_type,price,source_loaded,fsa
0,43.64617,-79.42451,M6J,House,Entire home/apt,469,airbnb,M6J
1,43.64105,-79.37628,M5J,Apartment,Private room,100,airbnb,M5J
2,43.66724,-79.41598,M6G,House,Private room,67,airbnb,M6G
3,43.69602,-79.45468,M6E 2P3,House,Private room,70,airbnb,M6E
4,43.64530,-79.38940,M5V 3P5,Condominium,Entire home/apt,200,airbnb,M5V

In [56]:
# removing incomplete postal codes
airbnb_clean_df = airbnb_data_df.loc[airbnb_data_df["postal_code"] .str.len() == 7, [
    "property_type", "room_type", "price","postal_code","fsa","source_loaded"]]
airbnb_clean_df.head()

  property_type        room_type  price postal_code   fsa source_loaded
3         House     Private room     70     M6E 2P3  M6E         airbnb
4   Condominium  Entire home/apt    200     M5V 3P5  M5V         airbnb
5     Apartment  Entire home/apt     54     M4L 2P8  M4L         airbnb
6     Apartment  Entire home/apt     80     M4S 2M5  M4S         airbnb
7     Apartment  Entire home/apt    134     M5J 2V3  M5J         airbnb

In [52]:
# creating a list for scraping script for hotels.ca
hotel_list_df =airbnb_data_df[['latitude','longitude','postal_code']].copy()
hotel_list_df = airbnb_data_df.loc[airbnb_data_df["postal_code"] .str.len() == 7, [
    'latitude','longitude','postal_code',"fsa"]]
hotel_list_df.head()

   latitude  longitude postal_code   fsa
3  43.69602  -79.45468     M6E 2P3  M6E
4  43.64530  -79.38940     M5V 3P5  M5V
5  43.66890  -79.32592     M4L 2P8  M4L
6  43.70410  -79.39026     M4S 2M5  M4S
7  43.64151  -79.37643     M5J 2V3  M5J

In [53]:
hotel_list_df.to_csv('Data/hotel_list.csv',index = False, header = True)

In [61]:
airbnb_transformed= airbnb_clean_df[['postal_code','property_type','fsa','room_type','price','source_loaded']].copy()
airbnb_transformed.set_index("fsa", inplace=True)
airbnb_transformed["price"] = airbnb_transformed["price"].astype(float)
airbnb_transformed.head()

     postal_code property_type        room_type  price source_loaded
fsa
M6E      M6E 2P3         House     Private room   70.0        airbnb
M5V      M5V 3P5   Condominium  Entire home/apt  200.0        airbnb
M4L      M4L 2P8     Apartment  Entire home/apt   54.0        airbnb
M4S      M4S 2M5     Apartment  Entire home/apt   80.0        airbnb
M5J      M5J 2V3     Apartment  Entire home/apt  134.0        airbnb

In [62]:
# Finally putting transformed dataframe to csv file
airbnb_transformed.to_csv('Data/airbnb_table.csv',index = True, header = True)